:root {
    --font-body: "Urbanist", sans-serif;
    --color-light: #f8e7d4c4;
    --color-dark: #342717;
    --font-sm: 1.2rem;
    --font-lg: clamp(2.5rem, 5vw + 1rem, 6rem);
    --spacing-sm: 1rem;
    --spacing-md: 2rem;
    --spacing-lg: 3rem;
    --spacing-xl: 4rem;
    --radius-md: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-body);
}

img {
    width: 100%;
    display: block;
}

.hero {
    min-height: 100dvh;
    background-image: url(../images/banner0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    padding: var(--spacing-md);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--spacing-md);
}

.hero h1 {
    font-size: var(--font-lg);
    color: var(--color-light);
    width: 50%;
    text-wrap: balance;
}

.btn {
    text-decoration: none;
    color: var(--color-dark);
    background-color: var(--color-light);
    padding: var(--spacing-sm) var(--spacing-lg);
    border-radius: var(--radius-md);
    font-size: var(--font-sm);
    font-weight: 600;
}

.container {
    width: 90%;
    margin: var(--spacing-xl) auto;
    text-align: center;
}

.titles {
    font-size: var(--font-lg);
    margin-bottom: var(--spacing-md);
    color: var(--color-dark);
}

.grid-01 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-md);
}

.box-1 {
    position: relative;

    img {
        border-radius: var(--radius-md);
    }
}

.box-1 a {
    position: absolute;
    bottom: var(--spacing-md);
    left: var(--spacing-md);
    z-index: 1;
    background-color: var(--color-dark);
    color: var(--color-light);
}

.logos {
    overflow: hidden;
    display: flex;
}

.logos:hover .logos-slide{
    animation-play-state: paused;
}

.logos-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: slide 20s linear infinite;
}

.logos-slide img {
    width: auto;
    height: 80px;
    margin-inline: var(--spacing-sm);
    opacity: .8;
    transition: .5s;

    &:hover {
        opacity: 1;
    }
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.grid-02 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: var(--spacing-md);
}

.box-2 a {
    background-color: var(--color-dark);
    color: var(--color-light);
}

.box-2 {    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-sm);
    border: 1px solid var(--color-light);
    border-radius: var(--radius-md);
    padding-bottom: var(--spacing-md);
}

.box-2 img{
    border-top-left-radius: var(--radius-md);
    border-top-right-radius: var(--radius-md);
}

.grid-03 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 400px;
    gap: var(--spacing-md);
}

.box-03 {
    overflow: hidden;
    border-radius: var(--radius-md);
}

.box-03 img {
    height: 100%;
    object-fit: cover;
}
 
.row-2 {
    grid-row: span 2;
}

.col-2 {
    grid-column: span 2;
}

@media (width: 1024px) {

    .hero h1 {
        width: 80%;
    }

    .grid-01 {
        grid-template-columns: 1fr;
    }

    .box-1:last-child{
        grid-column: span 2;
    }

    .grid-03 {
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
    }
    
    .col-2 {grid-column: span 1;}
    .row-2 {grid-row: span 1;}
}

@media ( width <= 680px){
    .grid-01 {
        grid-template-columns: 1fr;
    }

    .box-1:last-child {
        grid-column: span 1;
    }
}
